@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');

:root {
    --bg: #111;

    --panel: #131313;
    --panel-alt: #181818;

    --border: #282828;
    --border-soft: #1a1a1a;

    --text: #efefef;
    --text-dim: #808080;
    --text-faint: #555;

    /* --accent: #f2a340; */
    /* --accent-dim: #936b3a; */
    /* --accent-faint: #544129; */

    /* --accent: #3cef8e; */
    /* --accent-dim: #399b65; */
    /* --accent-faint: #2f4d3c; */

    --accent: #9f79df;
    --accent-dim: #684e96;
    --accent-faint: #3e2a61;

    --danger: #e5595f;
    --success: #3cef8e;

    --radius: 3px;

    --mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    --sans: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* -------- Global --------- */
* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    height: 100%;
}

body {
    background: var(--bg);
    color: var(--text);

    font-size: 13px;
    font-family: var(--sans);
    -webkit-font-smoothing: antialiased;
}

.mono {
    font-family: var(--mono);
}

.accent {
    color: var(--accent);
}

.app-shell {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-content {
    position: relative;
    display: flex;
    flex: 1;
    min-height: 0;
}

.app-body {
    display: flex;
    flex: 1;
    min-height: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: none;
    background-color: var(--panel);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: #222;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}